<%= render "layouts/navbar" %>
<%= render "layouts/teamnavbar" %>

<div class="datagrid" id="DT-div" style="display:none;">
  <table id="stat-table" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
      <tr>
        <th>Season</th>
        <th>Team</th>
        <th>Conference</th>
        <th>Completions</th>
        <th>Attempts</th>
        <th>First Downs</th>
        <th>Yards</th>
        <th>Touchdowns</th>
        <th>Interceptions</th>
      </tr>
    </thead>
    <tbody>
      <% @teampassing.each do |passing| %>
        <tr>
          <td><%= passing.season %></td>
          <td><%= passing.team %></td>
          <td><%= passing.conference %></td>
          <td><%= passing.completions %></td>
          <td><%= passing.attempts %></td>
          <td><%= passing.firstdowns %></td>
          <td><%= passing.yards %></td>
          <td><%= passing.touchdowns %></td>
          <td><%= passing.interceptions %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
