<div class="form-background">
  <div class="container p-3">
    <div class="logo">
      <%= image_tag ('Logo2-removebg-preview.png'), class: "logo-signed-out" %>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "name@example.com", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn" %>
      </div>
    <% end %>
    <div class="links">
      <%= link_to "Back to Log in", new_session_path(resource_name) %>
    </div>
  </div>
</div>
